@charset "UTF-8";

:root { 
     --cor0: #A60311;
     --cor1: #D92B4B;
     --cor2: #F27999;
     --cor3: #102601;
     --cor4: #214001; 
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color:#F27999;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 510px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.481);
    transition: width 0.3s, height 0.3s;
    transform: translate(-50%, -50%);
}

div#imagem {
    display: block;
    background: url(../imagens/pexels-pixabay-66896.jpg);
    background-size: cover;
    height: 200px;
}

div#formulario {
    display: block;
    padding: 10px;
}

div#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #D92B4B;
}

div#formulario p {
    text-align: center;
    font-size: 1em;
}

div.campo > label {
    display: none;
}

div.campo > input {
    font-size: 1em;
    height: 100%;
    width: calc(100% - 40px);
    border-radius: 5px;
    border: 0px;
    background-color: #fddbe4;
    transform: translateY(-10px);
}

div.campo {
    background-color: #f2799997;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > span {
    color:#D92B4B;
    font-size: 2em;
    width: 30px;
    padding: 5px;
    margin-right: 5px;
    border: 5px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #214001;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #102601;
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    border: 1px solid var(--cor4);
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
    color:#102601;
    margin-top: 2px;
}

form > a.botao > span {
    font-size: 1em;
}
